@font-face {
  font-family: 'IranYekan';
  src: url('./iranyekanwebthinfanum.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('./iranyekanweblightfanum.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('./iranyekanwebregularfanum.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('./iranyekanwebmediumfanum.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('./iranyekanwebboldfanum.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('./iranyekanwebextraboldfanum.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('./iranyekanwebblackfanum.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IranYekan';
  src: url('./iranyekanwebextrablackfanum.ttf') format('truetype');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

